table{
    border: solid 1px;
    border-collapse: collapse;
    width: 50px;
    height: 50px;
}

#left{
    text-align: center;
}

#right{
    text-align: left;
}
#left{
    text-align: right;
}

#right{
    text-align: end;
}

th,td{
    border: solid 1px;
}

#id3,#id1,#id2{
    border: solid 1px;
}